body {
            font-family: 'Poppins', sans-serif;
            background-image: url('/static/background.png');
        	background-repeat:no-repeat;
        	background-size:cover;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }
        .container {
            width: 100%;
            height: 100vh;
            background-color: #fff9;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            border-radius: 0;
            overflow: hidden;
            display: flex;
            flex-direction: column;
        }
    
	    @media (min-width: 768px) {
        	.container {
        		width:40%;
            	height:80vh;
            	border-radius:8px;
        	}
    	}
    
        .header {
            background-color: rgba(0,0,0,0);
	    backdrop-filter:blur(500000px);
            color: #000000;
            padding: 10px;
            display: flex;
            align-items: center;
            gap: 10px;
        }

        .content {
            flex: 1;
            padding: 10px;
            overflow-y: auto;
            display: flex;
        	flex-direction:column;
            gap: 10px;
        	align-items:center;
	    background-color:rgba(0,0,0,0);
	    backdrop-filter:blur(50000px);
        }
    
    	input {
    		background-color: rgba(0, 0, 0, 0);
        	border:0;
        	outline: 0;
        	height:40px;
        	width:80%;
        	font-size:15px;
        	margin:10px;
        	border-left: 5px solid rgba(0, 0, 0, 0.5);
        	padding-left:15px;
    	}
    
	    .input-container {
    		display:inline-block;
        	position:relative;
    	}
    
    	.input-container:after {
    		display:block;
        	content:'';
        	border-bottom:3px solid black;
        	transform: scaleX(0);
        	transition: transform 250ms ease-in-out;
        	transform-origin:  0% 50%;
    	}
    
    	.input-container:hover:after,.input-container:focus-within:after {transform:scaleX(1);}
    
    	button {
    		width:200px;
        	text-align:center;
        	height:40px;
		border-radius:10% / 50%;
        	background-color:rgb(0, 123, 255);
        	font-size:20px;
        	border:0;
		color:white;
    	}
