<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
	<link rel="icon" href="/static/favicon.svg" type="image/svg+xml">
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/dashboard-styles.css">
</head>
<body>
    <div class="main-content ui-segment">
        <div class="message-history">
            <div class="message">
                <img src="https://cdn.discordapp.com/avatars/1287361512171634720/89320c3fac06db7deccfa42078a0a20e.webp?size=128"></img>
                <div class="msg-content"><h2>Gamma</h2><p>This is a test message!</p></div>
            </div>
            <div class="message">
                <img src="https://cdn.discordapp.com/avatars/1223699513957679310/e50aeece0b830a3ea6c1ac78ab561e20.webp?size=128"></img>
                <div class="msg-content"><h2>uukelele</h2><p>This is another test message!</p></div>
            </div>
        </div>
        <div class="message-input">
            <input type="text"></input>
        </div>
    </div>
    <div class="user-selection-pane ui-segment">
        <div class="input-container-search"><input type="text" placeholder="Enter a username to find a friend" id="search-input"></div>
        <div id="search-results">
            <h2>  Results: </h2>
            <div class="search-result">
                <img src="https://cdn.discordapp.com/avatars/1287361512171634720/89320c3fac06db7deccfa42078a0a20e.webp?size=128"></img>
                <h2>Gamma</h2>
                <button>Add Friend</button>
            </div>
        </div>
        <div id="friends-list">
            <h2>  Friends: </h2>
            <div class="friend-item">
                <img src="https://cdn.discordapp.com/avatars/1223699513957679310/e50aeece0b830a3ea6c1ac78ab561e20.webp?size=128"></img>
                <h2>uukelele</h2>
            </div>
        </div>
    </div>
    <div class="user-info ui-segment">
        Information about who you're chatting with
    </div>
    <div class="top-bar ui-segment">
        Top bar for other settings
    </div>

    <script>
        // TODO: Update this function.
        async function getUserData() {
		const username = document.getElementById('username').value
		const password = document.getElementById('password').value
        	const response = await fetch('/api/data', {
            	method: 'POST',
            	headers: {
                	'Content-Type': 'application/json'
                },
            	body: JSON.stringify({ username, password })
            });
        	const data = await response.json();
        	/*
            if (data.message === 'Login successful') {
            	document.cookie = `username=${username}; path=/`;
                document.cookie = `password=${password}; path=/`;
            	window.location.href = `/dashboard`;
            } else {
            	alert('Provided username/password does not match.');
            */
           // needs to be updated for the new function
	    }
    
    	function getCookie(name) {
        	const nameEQ = name + "=";
        	const ca = document.cookie.split(';');
        	for(let i = 0; i < ca.length; i++) {
            	let c = ca[i];
            	while (c.charAt(0) === ' ') c = c.substring(1, c.length);
            	if (c.indexOf(nameEQ) === 0) return c.substring(nameEQ.length, c.length);
            }
        	return null;
        }

        // in progress
        async function addFriend(e) {
            const username_to_send = e.parentElement.querySelector('h2').innerText;
            const response = await fetch(`/api/get_user_id/${username_to_send}`);
            const data = await response.json();
            const userID_to_send = data.id;
            const response2 = await fetch(`/api/users/${userID_to_send}/send_request`, {
                method: 'POST',
                headers: {
                	'Content-Type': 'application/json'
                },
                body: JSON.stringify({})
            });
        }

        document.getElementById("search-results").innerHTML = '<h2>  Results: </h2>'
        async function searchUsers(user) {
            const response = await fetch(`/api/search_users/?limit=20&q=${user}`);
            const data = await response.json();
            document.getElementById("search-results").innerHTML = '<h2>  Results: </h2>'
            data.results.forEach(function(user) {
                let divData = document.createElement('div');
                divData.className = 'search-result';
                divData.innerHTML = `
                    <div class="search-result">
                    <img src="https://cdn.discordapp.com/icons/1294277640722714725/1945c4245eab3e9c7dbbe98165beacfd.webp?size=96"></img>
                    <h2>${user}</h2>
                    <button onclick="addFriend(this)">Add Friend</button>
                    </div>
                `
                document.getElementById("search-results").appendChild(divData)
            });
        }

        if (getCookie("username")) {
            void(0);
        } else {
            window.location.href = `/login`
        }

        const searchInput = document.getElementById("search-input");
        let typingTimer;
        const doneTypingInterval = 300;

        function doneTyping() {
            if (searchInput.value.trim() !== '') {
                searchUsers(searchInput.value);
            }
        }

        searchInput.addEventListener('input', () => {
            clearTimeout(typingTimer);
            typingTimer = setTimeout(doneTyping, doneTypingInterval);
        });
    </script>
</body>
</html>
