<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
	<link rel="icon" href="/static/favicon.svg" type="image/svg+xml">
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    	<link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <div>Login</div>
        </div>
        <div class="content" id='content'>
        	<div class="input-container"><input type="text" id="username" placeholder="Username"></div>
        	<div class="input-container"><input type="password" id="password" placeholder="Password"></div>
        	<br><br>
	        <button onclick="login()">LOGIN</button><br><br><a href="/register"> Don't have an account? Register here.</a>
    	</div>
    </div>

    <script>
        async function login() {
		const username = document.getElementById('username').value
		const password = document.getElementById('password').value
        	const response = await fetch('/api/login', {
            	method: 'POST',
            	headers: {
                	'Content-Type': 'application/json'
                },
            	body: JSON.stringify({ username, password })
            });
        	const data = await response.json();
        	if (data.message === 'Login successful') {
            	document.cookie = `username=${username}; path=/`;
                document.cookie = `password=${password}; path=/`;
            	window.location.href = `/dashboard`;
            } else {
            	alert('Provided username/password does not match.');
	}
        }
    
    	function getCookie(name) {
        	const nameEQ = name + "=";
        	const ca = document.cookie.split(';');
        	for(let i = 0; i < ca.length; i++) {
            	let c = ca[i];
            	while (c.charAt(0) === ' ') c = c.substring(1, c.length);
            	if (c.indexOf(nameEQ) === 0) return c.substring(nameEQ.length, c.length);
            }
        	return null;
        }
    
    	async function checkLogin() {
        	const username = getCookie('username');
        	const password = getCookie('password');
		const response = await fetch('/api/login', {
            	method: 'POST',
            	headers: {
                	'Content-Type': 'application/json'
                },
            	body: JSON.stringify({ username, password })
            });
        	const data = await response.json();
        	
        	if (data.message === 'True') {
            		window.location.href = `/dashboard`;
            }
        }
   
    	checkLogin();
    </script>
</body>
</html>
