<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
	<link rel="icon" href="/static/favicon.svg" type="image/svg+xml">
	<link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <div>Register</div>
        </div>
        <div class="content">
        	<div class="input-container"><input type="text" id="username" placeholder="Username"></div>
    		<div class="input-container"><input type="password" id="password" placeholder="Password"></div>
        	<div class="input-container"><input type="password" id="confirmpwd" placeholder="Confirm Password"></div>
		<br><br><button onclick="auth()">Register</button>
    	</div>
    </div>
	<script>
    
    	function checkpw(password) {
        	const criteria = [
            	(password) => password.length >= 6,
            	(password) => password.length <= 20,
            	(password) => /^[a-zA-Z0-9!@#$%^&*(),.?":{}|<>]+$/.test(password)
            ];
        	return criteria.every(test => test(password));
        }
    
    	async function auth() {
        	username = document.getElementById('username').value;
        	password = document.getElementById('password').value;
        	confirmpwd = document.getElementById('confirmpwd').value;
        	
        	if (confirmpwd != password) {
            	alert("Confirmed password does not match.");
            } else if (!checkpw(password)) {
            	alert("Password not allowed. It's either too short, too long, or contains an invalid character.");
            } else if (username === "") {
            	alert("Please enter a username.");
            } else {
              registerusr(username, password);
            }
        }
    
    
    	async function registerusr(username, password) {
        	try {
            	const response = await fetch('/api/create_account',{
                	method: 'POST',
                	headers: {
                    	'Content-Type': 'application/json'
                    },
                	body: JSON.stringify({ username: username, password: password })
                });
            	
            	const data = await response.json();
            
            	if (response.ok) {
                	if (data.message === 'Username already exists') {
                    	alert('Username already in use. Please choose another username.');
                    } else if (data.message === 'Account created successfully') {
                    	alert('You have been registered successfully. Taking you to login...');
                    	window.location.href = `/login`;
                    } else {
                    	alert(data.message);
                    }
                } else {
                	alert('Error: ', data.error);
                }
            } catch (error) {
            	alert('Error: ', error);
            }
        }
	</script>
</body>
</html>
